#cores-box {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#cores-box ul {
    display: block;
    list-style: none;
}

#cores-box ul li {
    margin-top: 19px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.blue {
    background: #079992;
}
.red {
    background: #ff3f34;
}
.green {
    background: #78e08f;
}
.yellow {
    background: #f6b93b;
}
.selected {
    cursor: default !important;
}
